<section class="sectorMenu">
        <aside class="sidebar">
            <div class="user-info">
                <div class="avatar">
                    <img src="{{ url_for('static', filename='images/cbs-logo-brand-nl.svg') }}" alt="CBS logo">
                </div>

                <div>
                    <strong>Hi, {{ current_user }}</strong><br>
                    <small>Session: {{ current_time }}</small>
                </div>
            </div>

            <nav class="menu">
                <a href="{{ url_for('cbs.dashboard') }}" class="active"> Dashboard</a>
                <a href="#"> Overview</a>
                <a href="#"> Analytics</a>
                <a href="#"> Statistic</a>
                <a href="#"> Settings</a>
                <a href="#"> Support</a>
            </nav>

            <a href="{{ url_for('cbs.logout') }}">
                <button class="logout">Log out</button>
            </a>
        </aside>

        <section class="userStats">
              <div class="card">awserfg</div>
        </section>

</section>