*{
    margin:0 auto;
}

body{
    background-color:#F1F1F1;
    width: 99vw;
    margin:0 1em;
}

.Artikelen{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 99vw;
}

.ArtikelenChild{
    width: 100%;
    max-width: 30vw;
    margin-bottom: 1em;
}
.ArtikelenChild > img{
    width: inherit;
    object-fit: contain;
}

@media only screen and (min-width: 700px) {
    body{
        background-color:green;
    }

    .Artikelen{
        flex-direction: row;
    }

}