:root {
  --1em: 1em;
  --2em: 2em;
}
h1{font-size: 14px;}
h2{font-size: 13px;}

body {
    color:#ddd;
    margin:0;
    font-family:sans-serif, Verdana;
    font-size: 13px;
    background: linear-gradient(#a9a9d6, #2E2E5AFF);
    width: 99dvw;
    margin:0 var(--1em);
}

.avatar > img{
    max-width: 30vw;
}
main{
    width: 100%;
}

.sectorA{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/*Menu*/
.dashboard-container {
    display:flex;
    flex-direction: column;
}


.sidebar {
    width:100%;
    background:#a9a9d6;
    padding:20px;
    border-right:1px solid #333;
}

.main-content {
    flex:1;
    padding:20px;
    overflow:auto;
    background:#111118;
}

.Artikelen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ArtikelenChild{
    padding: 0 var(--1em);
    padding-bottom: var(--1em);
    align-items: baseline;
    display: flex;
    flex-direction: column;
    width: 30dvw;
    flex: 0 1 90dvw;
    height: auto;
    margin: 0 auto;
}

ArtikelenChild > * {
    width: 100%;
    padding-bottom: 0.5em;
}


.ArtikelenChild > img{
    align-items: baseline;
    width: 100%;
    object-fit: contain;
}

.ArtikelLeadText{
    width: 100%;
    padding: var(--1em) 0;
    overflow: hidden;
}

.ArtikelenChild, .ArtikelLeadText{
    padding-bottom: .5rem;
}

h1, .ArtikelTitel, .ArtikelLeadText{
    width: 100%;
    padding-bottom: .5em;
}

.taxonamy{padding-top: var(--1em)}

/*Dropdown kaarten*/
.cbs-grid {
    display: flex;
    width: 90dvw;
    flex-wrap: wrap;
    gap: 1rem;
    /*margin-top: 1rem;*/
    margin: 0 auto;
}

.cbs-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 90dvw;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.cbs-card h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.cbs-card p {
    font-size: 0.9rem;
    color: #000;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.cbs-card a {
    margin-top: auto;
    color: #0066cc;
    font-weight: 600;
    text-decoration: none;
}

.cbs-card a:hover {
    text-decoration: underline;
}


@media only screen and (min-width: 700px) {
    body {
        background: #020a23;
        font-size: 13px;
    }
}

@media only screen and (min-width: 1100px) {
    body { font-size: 15px;
        background: linear-gradient(#a9a9d6, #27274b, #27274b);}

    h1{
        font-size: 14px;
    }
    .dashboard-container{
        flex-direction: unset;
        min-width: 38dvw !important;
    }

    a{ font-size: 2rem;
    text-decoration: none;}

    button{
       width: 75px;
       height: 50px;
    }

    .sidebar{
        flex: 0 1 31dvw;
        display: inline-grid;
        max-height: 68dvh;
        min-width: 20dvw;
        max-width: 15dvw;
    }

    .sidebar:hover{
        box-shadow: 10px 5px 5px #000;
    }

    .menu{
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }

    .Artikelen{
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .ArtikelTitel{
        height: 3em;
    }
    .ArtikelenChild{
        flex: 0 1 22dvw;
        padding-bottom: var(--2em);
        border: 1px solid green;
        border-radius: 15px;
        margin: 1em 0;
    }

    .ruim{
        min-height: 10px;
        max-height: 42px;
        display: block;
    }

/*    Dropdwon result cards*/
    .cbs-card {
        flex: 1 1 280px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    }

}