{% extends "base.html" %}

{% block title %}Opslag API{% endblock %}

{% block extra_CSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block main %}

<br>

<h3>Laatst opgeslagen artikelen</h3>

<form method="POST" action="{{ url_for('cbs.fetch_and_save') }}">
    <button type="submit">Haal data op</button>
</form>

<table border="1" cellpadding="8">
    <tr>
        <th>Titel</th>
        <th>Datum</th>
        <th>Samenvatting</th>
        <th>Link</th>
    </tr>

    {% for article in artikelGet10 %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.release_time if article.release_time else '' }}</td>
            <td>{{ article.summary[:120] }}...</td>
            <td>
                <a href="{{ article.url }}" target="_blank">lees meer</a>
            </td>
        </tr>
    {% endfor %}
</table>


<div id="result"></div>
{% endblock %}