<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Artikelen</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 40px; }
        .article {
            margin-bottom: 25px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f9f9f9;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
   <p><a href="{{ url_for('cbs.index') }}">← Terug naar home</a></p>
   <p><a href="{{ url_for('cbs.logout') }}">← Log uit</a></p>

    <main>
        <div class="sectorA">

           <section class="Artikelen">
             {% for article in articles %}
                  <article class="ArtikelenChild">
                      <div class="ArtikelTitel"><h1 class="">{{ article.Title }}</h1></div>
                          <br>
                          <div><h2><b>Themes:</b>   {{article.Themes}}</h2> </div>
                          <img src="{{ article.Image }}" alt="{{ article.ImageAlt }}">
                          <div class="taxonamy">Taxonomy: {{article.TaxonomyTags}}</div>
                      <p class="ArtikelLeadText ruim">
                              {{ article.LeadText }}
                          </p>
                  </article>
             {% endfor %}
           </section>

        </div>
    </main>


    <section class="dropdown">
        <select name="dataset">
            <option value="Articles">Articles</option>
            <option value="Definitions">Definitions</option>
            <option value="Media">Media</option>
            <option value="Events">Events</option>
            <option value="Flash">Flash</option>ß
            <option value="Pages">Pages</option>
            <option value="Search">Search</option>
            <option value="Vacancies">Vacancies</option>
         </select>
    </section>

</body>
</html>