<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Artikelen</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 40px; }
        .article {
            margin-bottom: 25px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f9f9f9;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
   <p><a href="{{ url_for('cbs.index') }}">← Terug naar home</a></p>
   <p><a href="{{ url_for('cbs.logout') }}">← Log uit</a></p>

    <main>
        <div class="sectorA">

           <section class="Artikelen">
             {% for article in articles %}
                  <article class="ArtikelenChild">
                      <div class="ArtikelTitel"><h1 class="">{{ article.Title }}</h1></div>
                          <br>
                          <div><h2><b>Themes:</b>   {{article.Themes}}</h2> </div>
                          <img src="{{ article.Image }}" alt="{{ article.ImageAlt }}">
                          <div class="taxonamy">Taxonomy: {{article.TaxonomyTags}}</div>
                      <p class="ArtikelLeadText ruim">
                              {{ article.LeadText }}
                          </p>
                  </article>
             {% endfor %}
           </section>

        </div>


<!--        <div class="sectorA">-->


<!--            master foreach item, controls flex-->
<!--        {% for article in articles %}&ndash;&gt;-->
<!--           <section class="Artikelen">-->

<!--              <div class="ArtikelenChild">-->
<!--                  <p class="ArtikelTitel">Lorem Ipsum</p>-->
<!--                      <p class="ArtikelLeadText">-->
<!--                          Lorem ipsum-->
<!--                          Lorem ipsum-->
<!--                          Lorem ipsum-->
<!--                          Lorem ipsum-->
<!--                          Lorem ipsum-->
<!--                          Lorem ipsum-->

<!--                      </p>-->
<!--                  <br>-->
<!--                <img src="https://cdn.cbs.nl/images/6a48317652416a4f367a4e66784465394379723734673d3d/900x450.jpg" alt="afbeelding man tankt auto">-->
<!--              </div>-->
<!--           </section>-->
<!--        </div>-->
<!--        {% endfor %}-->




<!--        -->
<!--        -->
<!--           <section class="Artikelen">-->

<!--              <div class="ArtikelenChild">-->
<!--                  <p class="ArtikelTitel">Lorem Ipsum</p>-->
<!--                      <p class="ArtikelLeadText">-->
<!--                          Lorem ipsum-->
<!--                          Lorem ipsum-->
<!--                          Lorem ipsum-->
<!--                          Lorem ipsum-->
<!--                          Lorem ipsum-->
<!--                          Lorem ipsum-->

<!--                      </p>-->
<!--                  <br>-->
<!--                <img src="https://cdn.cbs.nl/images/6a48317652416a4f367a4e66784465394379723734673d3d/900x450.jpg" alt="afbeelding man tankt auto">-->
<!--              </div>-->
<!--           </section>-->



<!--        </div>-->


    </main>


<!--    <section class="Artikelen">-->
<!--         {% for article in articles %}-->
<!--          <div class="ArtikelenChild">-->
<!--              <p>{{ article.Title }}</p>-->
<!--            <img src="{{ article.Image }}" alt="{{ article.ImageAlt }}">-->
<!--          </div>-->
<!--         {% endfor %}-->
<!--    </section>-->
</body>
</html>